body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 3% 15% 10%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: white;
}

/* Navigation Bar Style */

.navbar {
  padding: 0 0 4.5rem;
  padding-top: 3rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/* Download Button */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  padding: 7% 10%;
  position: relative;
  background-color: white;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

#features h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#features p {
  color: #8f8f8f;
  padding: 0 8%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 16%;
}

/* Press Section */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: ce;
}

.pricing-column {
  padding: 3% 2%;
  /* align-items: center; */
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .iphone {
    position: static;
    transform: rotate(0);
  }
}

/* CTA Section */
#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}

#cta h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  color: #fff;
  /* line-height: 1.5rem; */
}

/* Footer Section */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

#footer p {
  padding: 2% 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #8f8f8f;
}

#footer i {
  padding: 0 1.2rem;
}
